<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>QuestionLibCenter</welcome-file>
  </welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>
  
  
    <!-- 该过滤器用来拦截其它访问，将其重新转到首页 -->
  <filter>
  	<filter-name>PageToIndex</filter-name>
  	<filter-class>filter.PageToIndex</filter-class>
  </filter>

  <filter-mapping>
  	<filter-name>PageToIndex</filter-name>
  	<url-pattern>*.html</url-pattern>
  </filter-mapping>
  
</web-app>